<h1>Cancelled Request</h1>
<p>From date: </p><b><%= @day_off_request.from_date %></b>
<p>To date: </p><b><%= @day_off_request.to_date %></b>
<p>DayOffCategory: </p><b><%= @day_off_request.day_off_category.name %></b>
<p>User email: </p><b><%= @day_off_request.user.email %></b>
<p>User first name: </p><b><%= @day_off_request.user.first_name %></b>
<p>User last name: </p><b><%= @day_off_request.user.last_name %></b>